{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tiger Collector</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'tigers_index' %}">All Tigers</a></li>
        <li><a href="{% url 'tigers_create' %}">Add a Tiger</a></li>
        <li><a href="{% url 'about' %}">About</a></li>

      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>